<h1 class="text-center h3 py-2 fw-bolder">FARMERS $ SUPPLIERS</h1>
 
<div class="table-responsive py-3">
    <table class="table">
        <thead class="table-secondary text-center">
            <tr>
                <th scope="col" class="h3">NAME</th>
                <th scope="col" class="h3">PRICE /KG</th>
                <th scope="col" class="h3">PRODUCT</th>
                <th scope="col" class="h3">CONTACT</th>
                <th scope="col" class="h3">ADDRESS</th>
                <th scope="col" class="h3">DATE</th>
            </tr>
        </thead>

        {{#each farmer}}
        <tbody>
            <tr class="text-center">
                <td scope="row">{{name}}</td>
                <td scope="row">{{price}}</td>
                <td scope="row">{{product}}</td>
                 <td scope="row">{{contact}}</td>
                 <td scope="row">{{address}}</td>
                <td scope="row">{{CreatedAt}}</td>
            </tr>
            
        </tbody>
        {{/each}}
    </table>
</div>