
<div class="card text-center">
  <div class="card-body">

    <table class="table">

  <tbody class="text-center">
    <tr>
      <th class="bg-light text-center">NAME</th>
      <td>
            <p class="fw-bold mb-1">{{farmer.name}}</p>
      </td></tr>
      <tr>
      <th class="bg-light text-center">PRODUCT</th>
      <td>
        <p class="fw-normal mb-1">{{farmer.product}} </p>
      </td>
      </tr>

      <tr>
      <th class="bg-light text-center">PRICE PER KG</th>
      <td>
        <p class="fw-normal mb-1">{{farmer.price}} </p>
      </td>
      </tr>
  <tr>
      <th class="bg-light text-center">CONTACT</th>
      <td>
        <p class="fw-normal mb-1">{{farmer.contact}} </p>
      </td>
      </tr>

<tr>
      <th class="bg-light text-center">ADDRESS</th>
      <td>
        <p class="fw-normal mb-1">{{farmer.address}}</p>
      </td>
      </tr>
    
  </tbody>
</table>
    
  </div>
</div>
<div class="py-2">
<a class="btn btn-info text-white" href="/farmer">Back</a>
</div>
