
<div class="card text-center">
  <div class="card-body">

    <table class="table">

  <tbody class="text-center">
    <tr>
      <th class="bg-light text-center">DESTINATION</th>
      <td>
            <p class="fw-bold mb-1">{{spaces.destination}}</p>
      </td></tr>
  <tr>
      <th class="bg-light text-center">AIRLINE</th>
      <td>
        <p class="fw-normal mb-1">{{spaces.airline}} </p>
      </td>
      </tr>

<tr>
      <th class="bg-light text-center">DEPARTURE DATE</th>
      <td>
        <p class="fw-normal mb-1">{{spaces.departure_date}}</p>
      </td>
      </tr>

<tr>
<th class="bg-light text-center">WEIGHT</th>
      <td>
        <p class="fw-normal mb-1">{{spaces.weight}}</p>
      </td>
</tr>
<tr>
  <th class="bg-light text-center">CONTACT</th>
      <td>
        <p class="fw-normal mb-1">{{spaces.contact}}</p>
      </td>
    </tr>
    
  </tbody>
</table>
    
  </div>
</div>
<div class="py-2">
<a class="btn btn-info text-white" href="/spaces">Back</a>
</div>

